@charset "UTF-8";

/* Fuentes */
@font-face {
    font-family: "meshes";
    src: url("../assets/fonts/Meshes.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "medula";
    src: url("../assets/fonts/MedulaOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "nero";
    src: url("../assets/fonts/NeroBaruno.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "webSymbol";
    src: url("../assets/fonts/WebSymbols-Regular.otf") format("OpenType");
    font-weight: normal;
    font-style: normal;
}

/* Estilos Generales */
* {
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(45deg, transparent 20%, black 25%, transparent 25%), linear-gradient(-45deg, transparent 20%, black 25%, transparent 25%), linear-gradient(-45deg, transparent 75%, black 80%, transparent 0), radial-gradient(gray 2px, transparent 0);
    background-size: 30px 30px, 30px 30px;
    height: auto;
}

.visible-flex {
    display: flex;
}

/* Cabecera */
#header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: black;
    border-bottom: 1px solid #ccc;
    min-height: 15rem;
}

.title {
    width: 100%;
    text-align: center;
    justify-self: center;
    box-sizing: border-box;
    /* border: 0.8rem solid rgb(255, 115, 0); */
    overflow: hidden;
    /* background-color: white; */
}

h1 {
    float: left;
}

.title img {
    margin-left: 1rem;
    transform: all 300ms;
    animation-name: img;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation-delay: 1950ms; */
    animation-duration: 2000ms;
}

.index:hover>img {
    animation-name: stop_image;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation-delay: 1950ms; */
}

.title__h1 {
    display: block;
    color: #f7bd00;
    margin-bottom: 0px;
    margin-top: calc(1rem - 6px);
    cursor: pointer;
    font-family: "meshes", sans-serif, Arial;
    font-size: 7rem;
    font-weight: bold;
    letter-spacing: calc(1rem - 1px);
}

.index:hover>.title__h1 {
    animation-name: h1;
    animation-iteration-count: 1;
    animation-direction: alternate;
    -moz-animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: linear;
    animation-duration: 2000ms;
}

.index img {
    margin-top: 1.5rem;
}

.index {
    text-decoration: none;
    display: inline-flex;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
}

h1 a:hover {
    text-decoration: none;
    color: #ff7300;
    animation: logo 2000ms;
    animation-timing-function: linear;
}

.nav__div-desplegable {
    display: none;
}

.nav {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    text-align: center;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    list-style: none;
    text-align: center;
    margin: 0px;
}

.nav ul li {
    display: inline-block;
    margin-right: 4rem;
}

.nav__li-outmargin {
    margin: 0px !important;
}

.nav ul li a {
    display: block;
    color: white;
    font-family: "nero", sans-serif, Arial;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all 300ms;
}

.nav ul li a:hover {
    color: #f7bd00;
    text-decoration: none;
    transform: scale(1.2, 1.2);
    text-shadow: 0px 0px 10px #f7bd00;
}

.log {
    align-self: center;
    justify-self: center;
    grid-column: 3;
    /* margin-left: 3rem; */
    width: 100%;
    text-align: start;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 0px;
}

/* .log-margin {
    float: right;
    min-width: 14.5rem;
    margin-top: 1.5rem;
    padding-top: 2rem;
    text-align: center;
    overflow: hidden;
    margin-right: 4%;
  } */
.invisible {
    display: none !important;
}

.visible {
    display: block !important;
}

.log__modal-content {
    box-sizing: content-box;
}

.log__modal-header {
    background-color: #413f3e;
    color: white;
    box-sizing: content-box;
}

.log__ul-custom {
    min-height: 5vh;
    align-items: center;
    box-sizing: content-box;
}

.log__li-custom {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: content-box;
}

.log__li-custom::before {
    border-bottom: 1px solid #ff8800;
}

.log__li-a-custom {
    display: flex;
    align-items: center;
    color: antiquewhite;
    font-size: 1.3rem;
    border: none;
    background-color: inherit;
}

.log__li-a-custom:hover {
    text-decoration: none;
    color: #ffc400;
}

.log__li-a-custom span {
    font-family: "webSymbol";
    margin-right: 0.5rem;
    line-height: 1rem;
}

.btn-custom {
    color: white;
    font-size: 3rem;
}

.btn-custom:hover {
    color: #ffc400;
}

.log__a {
    display: inline-block;
    width: 95px;
    font-family: "nero", sans-serif;
    font-size: 2.3rem;
    font-weight: 200;
    text-align: center;
    min-height: 4rem;
    line-height: 3.4rem;
    margin-right: 1rem;
    padding: 0px 5px;
    border: 1px solid #c46800;
    background: linear-gradient(to bottom, #ff8800, #ffc400);
    color: blanchedalmond;
    transition: all 500ms;
}

.log__a:hover {
    text-decoration: none;
    color: blanchedalmond;
    border-radius: 1rem;
}

.width:active {
    width: 9.5rem;
}

.log__a:active {
    border: none;
    box-shadow: 1px 1px 6px black inset;
    line-height: 3.6rem;
}

.btn img {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    margin-top: -2.5px;
    margin-right: 1.5px;
}

.log-margin img {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
}

.log__carrito {
    display: inline-block;
    position: relative;
    height: 4rem;
}

.btn {
    height: 4rem;
    margin-top: -4px;
}

.log__carrito-ventana {
    width: 300%;
    border: 1px solid red;
    position: absolute;
    right: 0px;
    background-color: white;
}

/* button p {
    text-align: center;
    width: 40rem;
    height: 30rem;
  }
  
  .btn-a {
    display: block;
    font-family: "nero";
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    border: 1px inset black;
    padding: 5px;
    color: rgb(243, 242, 239);
    background-color: royalblue;
    transition: all 1000ms;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 1px 2px 3px rgba(0, 0, 0, 0.3),
      2px 3px 4px rgba(0, 0, 0, 0.3), 3px 4px 5px rgba(0, 0, 0, 0.3);
  }
  
  .btn-a:hover {
    text-decoration: none;
    color: rgb(243, 242, 239);
    background: linear-gradient(to bottom, rgb(255, 136, 0), rgb(255, 196, 0));
    transition: all 1000ms;
  } */
/* Carrusel */
#slider-container {
    width: 100%;
    height: auto;
}

/* Fin Carrusel */
/* Acordeon */
#acordion-container {
    width: 70%;
    margin: 0px auto;
}

/*Fin  Acordeon */
/* Contenido Principal */
#main-index {
    display: grid;
    grid-template-columns: auto;
    width: 85%;
    /* width: 82.3%; */
    margin: 0px auto;
    margin-top: 5rem;
    margin-bottom: 4rem;
}

/*Contenido Principal--Index  */
.products__section-index-producto {
    border-radius: 2rem;
}

.products__section-index-producto:hover>.h3-producto-index {
    background-color: black;
    color: #ff8800;
}

.products__section-index-producto-img {
    max-width: 100%;
}

.h-custom {
    min-height: 20px;
}

.product__destacado>div {
    margin: 0px;
    flex-basis: 30%;
}

.product__destacado--margin {
    margin-bottom: 6rem;
}

/* .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  } */
.products__title {
    width: 100%;
    padding: 2rem;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 1px 2px 3px rgba(0, 0, 0, 0.3), 2px 3px 4px rgba(0, 0, 0, 0.3), 3px 4px 5px rgba(0, 0, 0, 0.3), 4px 5px 6px rgba(0, 0, 0, 0.3), 5px 6px 7px rgba(0, 0, 0, 0.3);
    margin-bottom: 3rem;
}

.product__title-h2 {
    width: 100%;
    font-family: "nero", sans-serif;
    line-height: 6rem;
    font-size: 3.4rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    background-color: black;
    color: white;
    text-shadow: 0px 1px 2px #ff8800, 1px 2px 3px #ff8800, 2px 3px 4px #ff8800;
    text-align: center;
    margin: 0px;
}

.products {
    /* grid-template-columns: 1; */
    border: 1px solid #ccc;
    /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 1px 2px 3px rgba(0, 0, 0, 0.3),
      2px 3px 4px rgba(0, 0, 0, 0.3), 3px 4px 5px rgba(0, 0, 0, 0.3),
      4px 5px 6px rgba(0, 0, 0, 0.3), 5px 6px 7px rgba(0, 0, 0, 0.3); */
    /* box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19); */
    /* background-color: rgb(255, 255, 255); */
    width: 97%;
}

.products__section-index {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* .products__section-index-articles {
    display: inline-block;
    flex-grow: 1;
    flex-basis: 20%;
    min-height: 5rem;
    margin-right: 4.1rem;
    border: 1px solid #ccc;
    background-color: #facd4d;
  }
  
  .product-margin {
    margin-bottom: 3.5rem;
  }
  
  .product-outmargin {
    margin-right: 0px;
  }
  
  .products__section-index-articles img {
    display: block;
    border-radius: 0.5rem;
    width: 16rem;
    height: 14rem;
    margin: 1rem auto;
    transition: all 400ms;
  }
  
  .products__section-index-articles img:hover {
    transform: scale(1.2, 1.2);
  }
  
  .products__section-index-articles a {
    display: block;
    width: 60%;
    margin: 2rem auto;
    font-family: "nero", sans-serif;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2rem;
    color: white;
    border: 1px solid rgb(23, 165, 23);
    background-color: rgb(36, 221, 36);
    transition: all 300ms;
  }
  
  .products__section-index-articles a:hover {
    text-decoration: none;
    color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 1px 2px 3px rgba(0, 0, 0, 0.3),
      2px 3px 4px rgba(0, 0, 0, 0.3), 3px 4px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(36, 221, 36);
  }
  
  .products__section-index-articles a:active {
    box-shadow: 0px 1px 2px black inset, 1px 2px 3px black inset;
  }
  
  figcaption {
    text-align: justify;
    padding-right: 1rem;
    padding-left: 1rem;
    font-family: sans-serif;
    text-shadow: 1px solid black;
    font-size: 1rem;
  } */
/* CSS para la pagina de registrarse */
.products__log {
    width: 100%;
}

.h2__form-log {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto;
    column-gap: 4rem;
}

.h2__form-condition {
    display: flex;
    flex-flow: column nowrap;
}

.h2__form-condition-h4 {
    text-align: center;
    margin-bottom: 2.5rem;
}

/* Contenido principal pagina productos */
#main-products {
    display: grid;
    justify-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 100%;
    margin: 0px auto;
    margin-top: 6rem;
}

.products-productos {
    width: 90%;
    display: grid;
    padding: 2rem;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 1px 2px 3px rgba(0, 0, 0, 0.3), 2px 3px 4px rgba(0, 0, 0, 0.3), 3px 4px 5px rgba(0, 0, 0, 0.3);
}

.product__section-productos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-grow: 1;
}

.product__title-flex {
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-color: black;
}

.product__title-h2--form {
    flex-grow: 2;
    flex-basis: 60%;
    font-family: "nero", sans-serif;
    line-height: 6rem;
    font-size: 3.4rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: white;
    text-shadow: 0px 1px 2px #ff8800, 1px 2px 3px #ff8800, 2px 3px 4px #ff8800;
    text-align: center;
    margin: 0px;
}

.products__div {
    justify-self: center;
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 2rem;
}

.products__div h3,
.reviews__h3 {
    font-family: "nero";
    letter-spacing: 0.2rem;
    font-size: 2.2rem;
    /* text-shadow: 0px 1px 2px rgb(255, 136, 0), 1px 2px 3px rgb(255, 136, 0); */
    text-align: center;
    margin-top: 3rem;
}

.product__title-div {
    flex-grow: 1;
    flex-basis: 40%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.product__title-div input {
    display: inline-block;
    margin-left: 0.1rem;
    font-size: 1rem;
    width: 73%;
    padding: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.product__title-div button {
    display: inline-block;
    text-align: center;
    line-height: 100%;
    font-family: "webSymbol";
    font-size: 1.6rem;
    color: black;
    text-shadow: 0px 1px 2px #ff8800, 1px 2px 3px #ff8800;
    width: 14%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.product__title-div button:active {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px black inset;
}

.product__section-productos-div {
    flex-basis: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.product__section-productos-div div {
    flex-basis: 10%;
    border: 1px solid #ff6600;
    min-height: 3rem;
    line-height: 3rem;
    background: linear-gradient(to bottom, #ff8800, #ff6600);
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;
    transition: all 400ms;
    overflow: hidden;
}

.product__section-productos-div a {
    display: block;
    color: antiquewhite;
    font-family: "nero";
    font-size: 1.5rem;
    text-align: center;
}

.product__section-productos-div div:hover {
    border: 1px solid black;
    text-decoration: none;
    background: black;
}

.product__section-productos-div div:hover>.product__section-productos-div-a {
    text-decoration: none;
    background: black;
    text-shadow: 0px 1px 2px #ff8800, 1px 2px 3px #ff8800;
    animation-name: ahover;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-delay: 300ms;
}

.product__section-productos-like {
    top: -22%;
}

.product__section-productos-like button {
    margin-right: 1rem;
    margin-top: 0.5rem;
    border-radius: 999px;
    background: transparent;
    border: none;
}

.product__section-productos-like i {
    display: block;
    font-size: 2.5rem;
    color: orange;
}

.product__title-menu {
    flex-basis: 100%;
    flex-grow: 1;
    margin-top: 1rem;
}

.product__title-menu-ul {
    display: block;
    text-align: center;
    margin: 0px;
}

.product__title-menu-ul li {
    display: inline-block;
    margin-right: 4rem;
}

.a-outmargin {
    margin: 0px;
}

.product__title-menu-ul li a {
    display: block;
    color: white;
    font-family: "nero", sans-serif, Arial;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all 300ms;
}

.product__title-menu-ul li a:hover {
    color: #f7bd00;
}

.products__navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__navbar ul {
    margin: 0px;
}

/* CSS para las tarjetas del main de productos */
.flip-card {
    display: inline-block;
    background-color: transparent;
    height: 20rem;
    border-radius: 2rem;
    margin-bottom: 4rem;
    overflow: hidden;
}

.flip-card-inner {
    position: relative;
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card:hover .flip-card-front {
    opacity: 0;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    transition: opacity 500ms;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-front img {
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.flip-card-back a {
    width: 40%;
    font-family: "nero";
    letter-spacing: 0.2rem;
    font-size: 1.6rem;
    text-decoration: none;
    text-align: center;
    background-color: chocolate;
    color: antiquewhite;
}

/* Fin del CSS para las tarjetas del main de productos*/
/* CSS para las Reviews de producto */
#reviews {
    background-color: #f6f9fc;
    margin-top: 6rem;
    padding: 5rem;
}

#carousel-reviews {
    width: 80%;
}

.reviews__secciones {
    top: 28rem;
}

.reviews__secciones li {
    background-color: orange;
}

.card-body {
    border-radius: 2rem;
}

.reviews-containerStars i {
    color: orange;
    font-size: 1.5rem;
}

.reviews__footer p {
    font-size: 1.5rem;
}

.reviews__footer span {
    color: #9ba3b4;
    font-size: 1.3rem;
}

/* CSS para la flecha de scroll automático del main de productos*/
#row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 125rem;
    margin: 0px auto;
    margin-top: 5rem;
    margin-bottom: 7rem;
}

.row__div-a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.row__div-a-img {
    height: 80%;
}

.row__div {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 40%;
    height: 10rem;
    text-align: center;
    border: 1px solid #ccc;
    /* box-shadow: 0px 1px 2px black, 1px 2px 3px black, 2px 3px 4px black,
      3px 4px 5px black; */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 1px 2px 3px rgba(0, 0, 0, 0.3), 2px 3px 4px rgba(0, 0, 0, 0.3), 3px 4px 5px rgba(0, 0, 0, 0.3), 4px 5px 6px rgba(0, 0, 0, 0.3), 5px 6px 7px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 50rem;
    padding: 1rem;
    transition: all 500ms;
}

.row__div-div {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    border-radius: 40rem;
    background-color: black;
}

.row__div:hover {
    background-color: #ffc400;
    box-shadow: none;
}

/* Contenido principal página preguntas */
.products-preguntas {
    display: flex;
    flex-flow: column nowrap;
}

.products__preguntas {
    display: flex;
    background-color: #fddd4d;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.products__preguntas-color {
    width: 90%;
    height: 90%;
    background-color: #d6bb61;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__preguntas-container {
    width: 90%;
    height: 90%;
    background-color: blue;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS para la página de sobre nosotras */
#main-complete {
    width: 82.3%;
    margin: 0px auto;
    margin-top: 5rem;
    margin-bottom: 9rem;
    font-family: Arial, Helvetica, sans-serif;
}

.products-info__img {
    height: 45rem;
    width: 100%;
    background-image: url("../assets/imgs/tazacafekupa(1).jpg");
    background-size: cover;
    overflow: hidden;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.bg-text {
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 70%;
    padding: 3rem;
    text-align: center;
}

.bg-text h2 {
    font-family: "medula";
    font-size: 22rem;
}

.bg-text p {
    text-align: center;
}

.personal-container,
.products-info__us {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
}

.products-info__us-title,
.products-info__us-div {
    width: 90%;
    margin: 0px auto;
}

.products-info__us-title {
    margin-top: 2rem;
}

.products-info__us-div {
    margin-top: 1.5rem;
    column-count: 2;
    column-gap: 3rem;
    line-height: 1.9rem;
}

.products-info__us-div p {
    font-size: 1.3rem;
    text-align: justify;
}

.products-info {
    grid-template-columns: 1;
    border: 1px solid #ccc;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 1px 2px 3px rgba(0, 0, 0, 0.3), 2px 3px 4px rgba(0, 0, 0, 0.3), 3px 4px 5px rgba(0, 0, 0, 0.3), 4px 5px 6px rgba(0, 0, 0, 0.3), 5px 6px 7px rgba(0, 0, 0, 0.3);
    background-color: #fef0ca;
    width: 100%;
    padding: 0px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.products-info__us-title-h2 {
    color: #df5d4e;
    font-weight: bold;
    letter-spacing: 0.1rem;
    line-height: 2.5rem;
    text-align: justify;
}

div>.d-flex {
    flex-direction: column;
    align-items: center;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.products-info__redes {
    display: block;
    margin-top: 2rem;
    width: 100%;
    height: 5%;
    background-color: white;
}

.redes-content {
    width: 20%;
    margin-left: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.redes-content__a {
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.personal-container__p {
    width: 60%;
    text-align: justify;
    margin-top: 1.5rem;
}

.personal-container__h2 {
    margin-top: 1rem;
}

/* CSS para el contenido del main de contancto */
.products__form label,
.h2__form-log label {
    font-size: 1.5rem;
}

/* CSS para el contenido de la página acceder */
.products-login__container {
    min-height: 70vh;
    background-image: url("../assets/imgs/1366_2000.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

/* .products-login__container-form {
    border-radius: 1rem;
    margin: 4rem 0px;
    margin-right: 4rem;
    background-color: white;
    flex-basis: 30%;
  } */
.products-login__container-form label {
    font-size: 1.5rem;
}

/* Aside Index */
#aside-index {
    width: 100%;
    box-sizing: content-box;
    margin-top: 19rem;
    margin-bottom: 19rem;
}

.aside-index__bg {
    width: 100%;
    background-image: url("../assets/imgs/granocafe.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
}

/* Aside */
#aside {
    justify-self: end;
    width: 91%;
}

.aside-sticky__container {
    position: sticky;
    top: 0;
}

.redes {
    min-height: 30rem;
    border: 1px solid #ccc;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 1px 2px 3px rgba(0, 0, 0, 0.3), 2px 3px 4px rgba(0, 0, 0, 0.3), 3px 4px 5px rgba(0, 0, 0, 0.3), 4px 5px 6px rgba(0, 0, 0, 0.3), 5px 6px 7px rgba(0, 0, 0, 0.3);
    background-color: white;
    margin-bottom: 6rem;
}

.redes__div {
    width: 95%;
}

.margin {
    display: block;
    width: 25%;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 2.5rem;
}

.outmargin {
    margin-bottom: 0px;
}

/* Aside Index */
.aside-index-cartles {
    margin-top: 6rem;
}

.newsletter {
    width: 30%;
    min-height: 10%;
    border: 1px solid #ccc;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 1px 2px 3px rgba(0, 0, 0, 0.3), 2px 3px 4px rgba(0, 0, 0, 0.3), 3px 4px 5px rgba(0, 0, 0, 0.3), 4px 5px 6px rgba(0, 0, 0, 0.3), 5px 6px 7px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.bg-custom-beneficio {
    background-color: #b9d8ea;
    /* height: 40vh; */
}

.bg-custom-oferta {
    background-color: #f8e5e3;
}

.a-custom {
    height: auto;
    margin-top: 0px;
}

.h2-promocion {
    font-weight: bold;
    font-size: 2.3rem;
}

.p-promocion {
    font-size: 1.5rem;
}

.anchoDivPadre-custom {
    min-width: 10px;
}

.anchoDivHijo-custom {
    flex-basis: 40%;
}

.aside-index-container {
    width: 100%;
    background-color: black;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.aside-index-contenido {
    width: 90%;
    background-color: white;
    height: 44rem;
}

#aside-index h3 {
    margin: 0px auto;
    text-align: center;
    width: 97%;
    background-color: #f2f3f2;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-family: "nero";
    text-transform: uppercase;
    letter-spacing: 1px;
}

.form-news {
    margin: 0px auto;
    width: 95%;
}

.form-news label {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
}

.form-news input {
    display: block;
    width: 85%;
    margin: 0px auto;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
}

/*.form-news label[for="nombre"] {
    margin-top: 3rem;
  }
  
  #aside-index input[type="submit"] {
    margin-top: 3rem;
    width: 40%;
    min-height: 3rem;
    background: linear-gradient(to bottom, rgb(255, 136, 0), rgb(255, 196, 0));
    font-family: "nero";
    font-size: 1.5rem;
    color: antiquewhite;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    border-radius: 0.5rem;
  }
  
  #aside-index input[type="submit"]:hover {
    box-shadow: 0px 0px 9px rgb(255, 136, 0);
    border: 2px solid rgb(255, 196, 0);
  } */
.redes div {
    margin: 2rem auto;
}

/* .div-product {
    width: 1200px;
    margin: 0px auto;
  } */
/* Footer */
#footer {
    display: grid;
    justify-items: center;
    align-content: center;
    background-color: black;
    border-top: 4px solid #ff8800;
    min-height: 40rem;
    /* margin-top: 9rem; */
    padding-top: 3rem;
}

.footer__flex {
    display: flex;
    width: 95%;
    flex-flow: row wrap;
    justify-content: space-around;
}

#footer h2 {
    width: 100%;
    font-family: "nero", sans-serif;
    font-size: 3.4rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: white;
    text-shadow: 0px 1px 2px #ff8800, 1px 2px 3px #ff8800, 2px 3px 4px #ff8800;
    text-align: center;
    margin-bottom: 1.5rem;
    background-color: black;
}

.map {
    float: left;
    /* margin-left: 6rem; */
    width: 25%;
    height: 35rem;
    overflow: hidden;
    border-radius: 0.5rem;
}

.map iframe {
    max-width: 100%;
    max-height: 84%;
}

.div-footer {
    width: 19%;
    float: left;
    /* margin-left: 9rem; */
}

.div-footer ul {
    display: block;
    width: 100%;
    text-align: left;
    font-family: "nero";
    font-size: 2rem;
    list-style: none;
}

.div-footer ul li {
    width: 100%;
    border-bottom: 1px solid #f7bd00;
    margin-bottom: 1.5rem;
}

.div-footer ul li a {
    display: block;
    color: blanchedalmond;
    text-transform: uppercase;
    letter-spacing: calc(1rem - 9px);
    transition: all 300ms;
}

.div-footer ul li a:hover {
    text-decoration: none;
    color: #f7bd00;
}

.div-footer ul li:hover {
    border-bottom: 1px solid blanchedalmond;
}

/* Animaciones*/
@keyframes h1 {
    10% {
        transform: translatex(-50rem);
    }

    20% {
        transform: translateY(-50rem);
    }

    40% {
        transform: translateY(0.5rem);
    }

    50% {
        transform: translateY(-3rem);
    }

    60% {
        transform: translateY(0rem);
    }

    70% {
        transform: translateY(-1.67rem);
    }

    80% {
        transform: translateY(0rem);
    }

    90% {
        transform: translateY(-0.84rem);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes img {
    25% {
        transform: rotateY(-90deg);
    }

    50% {
        transform: rotateY(-180deg);
    }

    75% {
        transform: rotateY(-270deg);
    }

    100% {
        transform: rotateY(-360deg);
    }
}

@keyframes stop_image {
    form {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

@keyframes ahover {
    10% {
        transform: translateX(30rem);
    }

    25% {
        transform: translateY(-30rem);
    }

    50% {
        transform: translateX(-30rem);
    }

    75% {
        transform: translateY(0rem);
    }

    100% {
        transform: translateX(0rem);
    }
}

/* Medias Querys */
@media (max-width: 1384px) {
    #header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-content: center;
        align-items: center;
        background-color: black;
        border-bottom: 1px solid #ccc;
        min-height: 15rem;
    }

    .nav {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row: 2;
        justify-content: center;
    }

    .nav ul {
        width: 80%;
        justify-content: space-evenly;
    }

    .nav ul li {
        margin: 0px;
    }

    .log {
        grid-column-start: 2;
        grid-column-end: 4;
        justify-content: flex-end;
        margin-right: 4rem;
    }

    .title {
        display: flex;
        justify-content: flex-start;
    }

    .index {
        margin-left: 4rem;
    }

    .map {
        width: 25%;
    }
}

@media (max-width: 1170px) {
    #main-complete {
        width: 100%;
    }

    .map {
        width: 60%;
        grid-column: 2;
        grid-row: 1;
    }

    .footer__flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        justify-items: center;
    }

    .footer__info {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2;
    }

    .div-footer {
        width: 50%;
    }
}

@media (max-width: 1050px) {
    #header {
        grid-template-columns: 1fr auto;
    }

    .title {
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .index {
        margin: auto;
    }

    .nav {
        height: 100%;
        grid-row: 1;
        grid-column: 1;
        justify-content: flex-start;
    }

    .nav ul {
        display: flex;
        width: 100%;
        /* transform: translateX(-90rem); */
        justify-self: center;
        justify-content: space-evenly;
    }

    .nav ul li a {
        font-size: 1.8rem;
    }

    .map {
        width: 70%;
    }
}

@media (max-width: 1000px) {
    .nav {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .log {
        grid-row: 2;
        grid-column: 2;
    }

    .title {
        grid-column: 1;
    }

    .index {
        margin: 0px 0px;
        margin-left: 3rem;
    }

    .nav__div-desplegable {
        /* width: 10%; */
        display: inline-block;
        margin-left: 3rem;
        align-self: center;
    }

    .nav__div-desplegable-a {
        display: block;
        /* position: absolute;
      left: 3rem; */
        font-size: 3rem;
        color: orange;
        cursor: pointer;
    }

    .nav ul {
        position: relative;
        width: 90%;
        margin-left: 2rem;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .nav ul li:nth-child(3) {
        order: 4;
    }

    .nav ul li:nth-child(4) {
        order: 5;
    }

    .footer__flex {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        justify-content: space-between;
    }

    .div-footer {
        width: 60%;
    }

    .map {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .div-footer {
        justify-self: flex-start;
        margin-left: 1rem;
        width: 70%;
    }

    .map {
        justify-self: flex-end;
        margin-right: 1rem;
        width: 90%;
    }
}

@media (max-width: 650px) {
    .div-footer {
        width: 85%;
    }

    .map {
        width: 100%;
    }
}